
src/.vs/*
src/*/obj/Debug/*
*.net.pdb
src/packages/Newtonsoft.Json.13.0.1/.signature.p7s
src/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.13.0.1/LICENSE.md
src/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
src/packages/Newtonsoft.Json.13.0.1/packageIcon.png
